<!doctype html>
<html ng-app="Webfunge" ng-controller="Layout">
	<head>
		<title>Webfunge</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="bootstrap.min.css"/>
		<link rel="stylesheet" href="bootstrap-theme.min.css"/>
		<link rel="stylesheet" href="style.css"/>
	</head>
	<body>
		<div id="canvas"></div>
		<div id="editor">
			<textarea id="program"></textarea>
			<form id="controls" class="form-inline">
				<div class="form-group">
					<button id="compile" class="btn btn-primary" ng-click="setCode()">Compile (Ctrl + Enter)</button>
				</div>
				<div class="form-group">
					<label for="shader">Shader</label>
					<select class="form-control" id="shader" ng-change="changeShader()" ng-model="shader" ng-options="shader.name for shader in shaders"></select>
				</div>
				<div class="form-group">
					<label for="resolution">Resolution</label>
					<select class="form-control" id="resolution" ng-change="changeCanvas()" ng-model="options.resolution" ng-options="resolution for resolution in resolutions"></select>
				</div>
				<div class="form-group">
					<label for="threads">Threads</label>
					<select class="form-control" id="threads" ng-change="changeCanvas()" ng-model="options.threadCount" ng-options="count for count in threadCounts"></select>
				</div>
				<div class="form-group btn-group" data-toggle="buttons">
					<label class="btn btn-primary" ng-click="changeWrap()"><input type="checkbox" id="wrap"/> Allow wrap</label>
				</div>
				<div class="form-group btn-group" data-toggle="buttons">
					<label class="btn btn-primary" ng-click="changeStats()"><input type="checkbox" id="stats"/> Display stats</label>
				</div>
			</form>
		</div>
		<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.11/angular.min.js"></script>
		<script src="stats.min.js"></script>
		<script src="bootstrap.min.js"></script>
		<script src="script.js"></script>
	</body>
</html>