*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

#renderer, #editor {
	height: 100%;
	left: 0;
	position: absolute;
	width: 100%;
	top: 0;
}

#editor {
	padding: 20px;
	padding-bottom: 70px;
}

#program {
	background-color: rgba(32, 32, 32, 0.2);
	border: 0;
	color: #fff;
	font-family: monospace;
	height: 100%;
	margin: 0;
	width: 100%;
}

#controls {
	bottom: 20px;
	left: 20px;
	position: absolute;
}

#controls > div {
	margin-right: 20px;
}

#stats {
	position: absolute;
	right: 0;
	top: 0;
}